@import "../../mixins.less";

#psr-bar {
  width: 100%;
  height: 80%;
  display: inline-grid;
  color: black;
  font-size: small;
  vertical-align: middle;
  margin-left: @spacing-5x;
  text-align: left;

  .text {
    margin-left: 10px;
  }
  span {
    margin-left: 10px;
  }
}
