@import "../../mixins.less";

div.questionDiv {
  width: 100%;
  display: flex;
  margin-top: 1%;
  margin-bottom: 1%;
}

div.questionDiv.header {
  font-weight: bold;
  color: black;
  border-bottom: 1px solid grey;
  margin-bottom: 5%;
  font-style: oblique;
}

span.question {
  font-style: oblique;
  font-weight: 600;
  margin-right: 10%;
  width: 40%;
  float: left;
  position: relative;
}

span.answers,
span.answers.new-value {
  width: 25%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: right;
}

span.answers.new-value {
  font-weight: bold;
  color: black;
  border-radius: 10px;
}

span.old-answers {
  font-style: italic;
  width: 30%;
}
