@import '../../mixins.less';

.funnel-views-container {
    width: 100%;
    height: 500px;

    .card {
        margin-bottom: 0;
        box-shadow: none;
        border: @color-border-default 1px solid;

        &:hover {
            box-shadow: 0 0 @spacing-1x 0 rgba(0, 0, 0, .1);
            cursor: default;
        }
    }

    h1 {
        margin-bottom: @spacing-3x;
    }

    .page-views-loading-container {
        margin-top: @spacing-2x;
    }

    .page-views-widget-container {
        display: grid;
        grid-gap: @spacing-2x;
        grid-template-columns: 1fr 1fr;
    }

    .page-info .Tooltip .Tooltip__inner {
        font-weight: 400;
    }

    .filters-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: @spacing-3x;

        .date-filters-wrapper {
            display: flex;
            align-items: center;

            .datetime-range-picker {
                width: 680px;
            }

            .preset-dropdown {
                float: right;
                margin-top: -@spacing-9x;

                .Dropdown__toggle {
                    .dropdown-button;
                }
            }

            .apply-btn {
                margin-left: @spacing-1x;
                margin-right: @spacing-3x;
                height: fit-content;
            }

            .annotations-сheckbox {
                margin-bottom: 0;
            }
        }

        .annotation-filters-wrapper {
            display: flex;
            align-items: flex-start;
            margin-top: @spacing-3x;
            background: @color-bg-contrast;
            padding: @spacing-2x;
            width: 1150px;

            .category-filters {
                display: flex;
                align-items: center;
                justify-content: space-around;
                min-width: 270px;
                padding: @spacing-2x @spacing-1x 0;
            }
        }
    }
}
