@import '../../mixins.less';

.funnel-views-container {
    width: 100%;
    height: 500px;

    .card {
        margin-bottom: 0;
        box-shadow: none;
        border: @color-border-default 1px solid;

        &:hover {
            box-shadow: 0 0 @spacing-1x 0 rgba(0, 0, 0, .1);
            cursor: default;
        }
    }

    h1 {
        margin-bottom: @spacing-3x;
    }

    .page-views-loading-container {
        margin-top: @spacing-2x;
    }

    .page-views-widget-container {
        display: grid;
        grid-gap: @spacing-2x;
        grid-template-columns: 50% 50%;

        .recharts-responsive-container {
            svg.recharts-surface {
                overflow: visible;
            }
        }
    }

    .page-info .Tooltip .Tooltip__inner {
        font-weight: 400;
    }

    .filters-wrapper {
        display: grid;
        grid-gap: @spacing-2x;
        grid-template-columns: 40% 60%;
        margin-bottom: @spacing-3x;
        width: 100%;

        .date-filters-wrapper,
        .dynamic-filters-wrapper {
            float: left;
            width: 100%;
            padding: @spacing-1x;
            border: @border-color 1px solid;
            border-radius: @spacing-1x;
            background: @color-bg-contrast;
        }

        .date-filters-wrapper {
            align-items: center;

            .rdt-preset-dropdown {
                margin-top: @spacing-1x;
                margin-left: 0;
            }

            .preset-dropdown {
                float: right;
                margin-top: -@spacing-9x;

                .Dropdown__toggle {
                    .dropdown-button;
                }
            }

            .apply-btn {
                height: fit-content;
                vertical-align: text-top;
                margin-top: @spacing-1x;
                margin-left: @spacing-1x;
            }
        }

        .dynamic-filters-wrapper {
            float: left;
            align-items: flex-start;

            .lob-select-container {
                min-width: 300px;
                z-index: 99;

                .lob-select__control {
                    min-height: 54px;
                    border-radius: @spacing-1x;
                    border-color: @border-color-dark;
                }
            }
        }

        .annotations-filters-container {
            display: flex;
            border: @border-color 1px solid;
            border-radius: @spacing-1x;
            margin-top: @spacing-1x;

            .annotations-category-filters,
            .universal-search-bar {
                margin: @spacing-1x @spacing-2x;
            }

            .universal-search-bar {
                flex-direction: column;
                width: max-content;

                .tokens-container {
                    float: left;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 100%;
                }

                .Token {
                    margin: 0;
                    width: fit-content;
                    max-width: 300px;
                    font-size: 85%;
                }
            }
        }
    }
}
