# uncomment next line if you have problems with npm install
# registry=https://npm.homeawaycorp.com/artifactory/api/npm/npm

registry=https://artylab.expedia.biz/api/npm/public-npm-virtual/
email=s-srigithub@expedia.com
always-auth=true
_auth=cy1iZXhnLWJ1aWxkcHJvcDpBS0NwNWJ1SmJmbnplb1RIMTdGTkVSRFNuUUR6SFlQUnlXYmNSVTdqNTVqakdoUUxmNTN1MjQyTG9hNzNEREoySk1ZWEtmRXlV
//artylab.expedia.biz/api/npm/public-npm-virtual/:_auth=cy1iZXhnLWJ1aWxkcHJvcDpBS0NwNWJ1SmJmbnplb1RIMTdGTkVSRFNuUUR6SFlQUnlXYmNSVTdqNTVqakdoUUxmNTN1MjQyTG9hNzNEREoySk1ZWEtmRXlV