@import '../../mixins.less';

.fci-container {
    .Navigation {
        margin-bottom: @spacing-3x;
    }

    .fci-search-input, .delta-user-input {
        float: left;
        width: 512px;
        max-width: 512px;
    }

    .apply-btn {
        margin-left: @spacing-1x;
        height: @spacing-7x;
        margin-bottom: @spacing-1x;
    }

    .form-container {
        margin-bottom: @spacing-2x;
        background: @color-bg-contrast;
        padding: @spacing-3x @spacing-2x @spacing-2x;
        border-radius: @spacing-1x;

        .datetime-range-picker {
            height: @spacing-7x;
            margin-bottom: @spacing-1x;
            display: block;
        }

        .selection-wrapper {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .error-code-dropdown,
            .site-dropdown,
            .lob-dropdown {
                margin-right: @spacing-1x;
                margin-bottom: @spacing-1x;

                .error-code-dropdown__control,
                .site-dropdown__control,
                .lob-dropdown__control {
                    min-height: @filter-size;
                    border-radius: @spacing-1x;
                    border-color: @border-color-dark;
                }

                .error-code-dropdown__menu,
                .site-dropdown__menu,
                .lob-dropdown__control {
                    z-index: 999;
                }
            }

            .error-code-dropdown,
            .lob-dropdown {
                min-width: 205px;
            }

            .site-dropdown {
                min-width: 250px;
            }

            .intent-cbox {
                margin-bottom: @spacing-1x;
            }

            .Dropdown__menu {
                max-height: 300px;
                overflow-y: scroll;
            }
        }
    }

    .chart-option {
        float: right;
        margin-left: @spacing-2x;
    }

    .recharts-responsive-container {
        margin-bottom: @spacing-2x;
    }

    .flowchart-container {
        height: 800px;
        width: 100%;
        border: 1px solid @border-color;
    }

    .modal-link {
        color: @color-link-default;
        cursor: pointer;

        &:hover {
            color: @color-link-hover;
        }
    }

    .back-btn {
        position: absolute;
        margin-top: -@spacing-5x;
    }

    .fci-checkbox .CRB--checkbox {
        margin: 0;
    }

    .error-cell {
        color: @color-text-inverse;
        background: @color-negative;
    }

    .success-cell {
        color: @color-text-inverse;
        background: @color-positive;
    }

    .Modal__dialog {
        min-width: 85%;
    }

    .Modal__dialog .Modal__content .Modal__body {
        .ext-link {
            float: right;
            margin: @spacing-3x 0 0 @spacing-3x;
        }

        .help-text {
            float: right;
            margin: @spacing-3x -@spacing-2x 0 0;
        }

        .no-results-wrapper {
            margin-top: @spacing-2x;
        }

        .copy-link {
            float: right;
            margin: @spacing-3x;
            border: none;
            background: transparent;
        }
    }

    .details-container {
        .details-table {
            display: inline-block;
            padding: @spacing-2x;
            border-radius: @spacing-1x;
            background: @color-bg-contrast;

            .detail-row {
                float: left;
                width: 48%;
                margin: 0 2% @spacing-1x 0;

                .detail-label {
                    float: left;
                    width: 50%;
                    font-weight: 800;
                }

                .detail-value {
                    float: left;
                    width: 50%;
                    white-space: nowrap;
                    font-size: @font-size-small;
                    overflow-x: scroll;
                }
            }

            .save-btn {
                float: right;
            }
        }

        .comments-container {
            margin-top: @spacing-2x;
        }
    }

    .log-container {
        margin-top: -@spacing-2x;

        #error-filter {
            float: left;
        }

        .CRB--radio {
            display: inline-block;
            margin-right: @spacing-2x;
        }
    }
}
