@import '../../mixins.less';

.fci-container {
    .form-container {
        margin-bottom: @spacing-2x;
        background: @color-bg-contrast;
        padding: @spacing-2x;
        border-radius: @spacing-1x;

        .datetime-range-picker {
            height: @spacing-7x;
            margin-bottom: @spacing-1x;
            display: block;
        }

        .lob-select-container {
            width: 460px;
            height: @spacing-7x;
            margin-bottom: @spacing-1x;
            display: inline-block;

            .lob-select__control {
                height: @spacing-7x;
                border-color: @border-contrast;
                border-radius: @spacing-1x;
            }
        }

        .error-code-dropdown .Dropdown__toggle {
            margin-right: @spacing-1x;
            .dropdown-button(160px);
        }

        .site-dropdown {
            vertical-align: bottom;
            display: inline-block;
            width: 250px;
            margin-right: @spacing-1x;

            .site-dropdown__control {
                min-height: @filter-size;
                border-radius: @spacing-1x;
                border-color: @border-color-dark;
            }

            .site-dropdown__menu {
                z-index: 999;
            }
        }

        .category-dropdown .Dropdown__toggle {
            margin-right: @spacing-1x;
            .dropdown-button(160px);
        }

        .Dropdown__menu {
            max-height: 300px;
            overflow-y: scroll;
        }

        .apply-btn {
            margin-left: @spacing-1x;
            height: @spacing-7x;
        }
    }

    .chart-option {
        float: right;
        margin-left: @spacing-2x;
    }

    .recharts-responsive-container {
        margin-bottom: @spacing-2x;
    }

    .flowchart-container {
        height: 800px;
        width: 100%;
        border: 1px solid @border-color;
    }

    .log-link {
        color: @color-link-default;
        cursor: pointer;

        &:hover {
            color: @color-link-hover;
        }
    }

    .error-cell {
        color: @color-text-inverse;
        background: @color-negative;
    }

    .success-cell {
        color: @color-text-inverse;
        background: @color-positive;
    }

    .Modal__dialog .Modal__content .Modal__body {
        margin-top: 0;

        .haystack-link {
            float: right;
        }

        .CRB--radio {
            display: inline-block;
            margin-right: @spacing-2x;
        }

        .Navigation {
            height: @spacing-9x;
        }

        .no-results-wrapper {
            margin-top: @spacing-2x;
        }
    }
}
