@import '../../../../mixins.less';

.bookings-container-box {
  width: 90%;

  .header-container {
    display: flex;

    .total-bookings-title {
      margin-left: 50%;
    }

    .radio-group-style {
      display: inline-block;
      margin-left: auto;
      margin-top: 5px;
      margin-right: @spacing-3x;
    }
    .radio-buttons{
      margin: 12px;
    }
  }

  .custom-tooltip {
    background-color: rgba(150, 150, 151, .7);
    border-radius: @spacing-2x;
    vertical-align: center;
    text-align: left;

    .label {
      color: @text-color;
    }
  }
}

