@import '../../mixins.less';

.cgp-availability-container {
    text-align: left;

    .loading-container {
        padding: @spacing-1x
    }

    .page-title {
        margin-bottom: @spacing-3x;
        text-align: left;
    }
}