@import '../../mixins.less';

.impulse-container-percentage-change {
  .percentage-change-boundary {
    width: fit-content;
    height: 58px;
    margin: auto;
    padding-bottom: 0px;
    background-color: @color-bg-accent;
  }

  .weekly-monthly-data-color {
    color: @color-action;
  }

  .percentage-change-container {
    color: @color-action;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }

  .percentage-change-container-text {
    color: @color-text-default;
    text-align: center;
    font-weight: normal;
    font-size: 16px
  }
}
