@import '../../mixins.less';

.percentage-change-boundary {
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.weekly-monthly-data-color {
  color: @color-action;
}

.percentage-change-container {
  color: @color-action;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.percentage-change-container-text {
  color: @color-text-default;
  text-align: center;
  font-weight: normal;
  text-transform: lowercase;
}
