@import '../../mixins.less';

.availability-container {
    margin-top: -@spacing-6x;

    .availability-nav-bar {
        height: 100%;
        width: 25%;
        overflow-y: scroll;
        position: absolute;
        z-index: 1;
        top: @spacing-6x;
        overflow-x: hidden;
        text-align: left;
        border-right: 1px solid @color-bg-active;

        .sidebar-header {
            display: block;
            width: 100%;
            padding: @spacing-1x;

            .sidebar-title {
                display: flex;
                font-weight: 800;
                color: @text-color;
                width: 100%;
                padding: @spacing-1x 0 @spacing-1x 0;

                .sidebar-title-text {
                    margin-left: @spacing-2x;
                    width: 90%;
                }
            }

            .sidebar-title:focus {
                outline: none;
            }

            .sidebar-item {
                display: inline-flex;
                width: 100%;
                line-height: 1.125rem;
                padding: @spacing-1x;

                .sidebar-item-status {
                    width: 10%;
                }

                a {
                    color: #818181;
                    text-decoration: none;
                    width: 90%;
                    padding: @spacing-1x;
                }
            }
        }
    }

    .availability-section {
        width: 100%;
        z-index: 1;
        right: 0;
        text-align: center;
    }
}
