nav.Navigation {
  margin-bottom: 2em;
}

#resiliency-questions-form-container {
  width: 60%;
  margin-top: 2em;
  margin-left: 20%;
  margin-right: 20%;

  div.resiliency-questions-form {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }

  div#applicationForm {
    display: flex;
    width: 100%;
    #applicationNameInput {
      width: 100%;
    }
  }
}
