@import "../../mixins.less";

.incident-trends-dashboard {
  .Navigation {
    .Navigation__ul {
      height: auto;
      margin-bottom: @spacing-4x;
    }
  }
}

#filters-div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  font-weight: normal;
  vertical-align: middle;
  width: 100%;

  .date-range {
    width: 350px;
  }

  #priority-dropdown {
    min-width: 160px;
    margin-left: 15px;
    margin-right: 5px;
    font-weight: normal;
  }

  #brand-dropdown {
    min-width: 300px;
    margin-left: 15px;
    margin-right: 5px;
    font-weight: normal;
  }

  #applyButton {
    margin-left: 15px;
    height: fit-content;
  }
}
