@import '../../../mixins.less';

.quality-panel {
    padding: 0;
    width: 50%;
    float: left;

    &.full-width {
        width: 100%;
    }

    &.fixed-height .chart-tile {
        height: 400px;
        max-height: 400px;

        .chart-container,
        .table-container {
            height: 400px;
            max-height: 400px;
            overflow-y: scroll;
        }
    }

    .tooltip-container {
        float: right;
    }

    .chart-container,
    .table-container {
        padding: @spacing-1x @spacing-2x;
    }

    .chart-tile {
        border: 1px solid @border-default;
        border-radius: @spacing-1x;
        margin: 12px;

        &:hover {
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .08), 0 2px 8px 0 rgba(0, 0, 0, .08);
        }

        .tile-header {
            background-color: @color-brand;

            h3 {
                padding: @spacing-1x;
                font-size: @font-size-small;
                margin-bottom: @spacing-1x;
                color: @color-text-inverse;
            }
        }

        .chart-tile-header {
            background-color: @color-brand;

            h3 {
                color: @color-text-inverse;
                font-size: @small-font-size;
            }
        }
    }

    .count-link {
        color: @color-link-default;
        cursor: pointer;

        &:hover {
            color: @color-link-hover;
        }
    }

    .table-footer {
        overflow: hidden;
        padding: @spacing-1x 0;
        font-size: @font-size-xsmall;
        line-height: @small-font-line-height;

        p {
            white-space: nowrap;
            margin: 0;

            &.float-right {
                float: right;
            }

            &.float-left {
                float: left;
            }
        }
    }

    .chart-message {
        margin-top: 120px;
        text-align: center;
    }
}
