@import '../../../../mixins.less';

.bugs-modal,
.Modal__body {
    display: inline-block;
    justify-content: center;

    .bugs-list {
        margin: @spacing-3x;
        padding: @spacing-3x;

        .tooltip-bug-div {
            text-align: center;
        }
    }
}