.circle-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;

  &.success {
    background: linear-gradient(to bottom, #299a0b 0%,#299a0b 100%);
  }

  &.warning {
    background: linear-gradient(to bottom, #ffd65e 0%,#febf04 100%);

    [data-id="SVG_ALERT_WARNING__16"] {
      width: 13px;
      height: 13px;
    }
  }

  &.failed {
    background: linear-gradient(to bottom, #cc0000 0%,#cc0000 53%);
  }

  svg {
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    position: absolute;
  }

  .SVGIcon {
    color: white;
  }
}
