@import '../../mixins.less';

.change-requests-container {
    .filters-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        font-weight: 400;
        vertical-align: middle;
        width: 100%;
        border-radius: @spacing-1x;

        .date-range {
            .date-range-filter;
        }

        #indexed-list-filter {
            width: 500px;
        }

        .date-range,
        #indexed-list-filter,
        .SearchListInput>input {
            margin-left: @spacing-1x;
            margin-right: @spacing-1x;
        }

        #indexed-list-filter+label {
            font-size: small;
        }

        .CRB--checkbox {
            align-items: center;
            display: inline-flex;
        }

        .apply-button {
            height: fit-content;
        }
    }

    .Datatable__header {
        background: #e3f4fc;
        border-top: 1px #908f8f solid;
        border-bottom: 1px #908f8f solid;
        color: #292929;
        font-size: .875rem;
    }

    .expandable-row-wrapper {
        display: inline-block;
        background: #f7f7f8;

        .expandable-row {
            display: flex;
            justify-content: left;
            align-items: left;
            margin: @spacing-2x;

            .expandable-row-header {
                font-weight: 600;
                padding-right: @spacing-3x;
            }

            .expandable-row-section {
                max-width: 500px;
                padding-right: @spacing-3x;
            }
        }
    }
}