@import '../../mixins.less';

.datetime-range-picker {
    display: inline-flex;

    .rdt {
        float: left;
    }

    .short {
        max-width: 150px;
    }

    .Dropdown__menu {
        max-height: 200px;
        overflow-y: auto;
        width: auto;
        z-index: 1040;
    }

    .rdt-preset-dropdown {
        float: left;
        margin-left: @spacing-1x;

        .Dropdown__toggle {
            height: 55px;
            font-weight: 400;
            color: @color-text-default;
            border-radius: @spacing-1x;
            margin: 1px 2px 0 -1px;
        }
    }
}
