@import '../../mixins.less';

.impulse-container {
  .heading-container {
    display: flex;

    .right-header {
      margin-left: auto;

      .health-check {
        display: inline-block;
        border-radius: 50px;
        border-style: solid;
        border-width: thin;
        padding: 4px;
        margin-right: 10px;
        font-size: small;
        cursor: pointer;
        position: relative;
      }

      .health-desc-tooltip {
        display: none;
        position: absolute;
        margin-top: 10%;
        width: max-content;
        padding: 10%;
        background-color: #ddddde;
        border: thin;
        font-size: smaller;
        right: 0;

        .health-desc {
          color: dimgray;
          font-weight: bold;
        }

        .healthy-desc {
          color: #080;
          font-weight: normal;
        }

        .unhealthy-desc {
          color: #b22;
          font-weight: normal;
        }
      }

      .health-check:hover .health-desc-tooltip {
        display: block;
        z-index: 99;
      }

      .refresh-switch {
        display: inline-block;
      }
    }
  }

  .impulse-filters-wrapper {
    .datetime-range-picker {
      .rdt-container {
        .rdt {
          width: 210px;
        }
      }

      .rdt-end-label {
        margin-left: 226px;
      }
    }
    .first-filter-spacing {
      margin-left: @spacing-1x;
      height: fit-content;
    }

    .all-filters {
      margin-left: 5px;
      height: fit-content;
    }

    .apply-button {
      margin: 5px;
      height: fit-content;
    }

    .advance-filters-block {
      display: inline-flex;

      .more-filters-btn {
        min-height: @spacing-7x;
        margin-top: 5px;
        padding-top: 10px;
        padding-left: 10px;
        font-size: 12px;
        line-height: @spacing-2x;
        box-shadow: none;
        border-radius: @spacing-1x @spacing-1x 0 0;

        &.active {
          background: @color-bg-accent;
        }
      }

      .incidents-сheckbox {
        margin-top: @spacing-3x;
      }
    }

    .impulse-dropdown .Dropdown__toggle {
      .dropdown-button(160px, @color-text-default);
    }
  }
}

.filter-option {
  display: flex;
  margin: 5px;
  z-index: 15;

  .time-interval {
    //width: 220px;
    z-index: 25;
    margin-left: @spacing-1x;

    .time-interval-dropdown {
      float: left;

      .Dropdown__toggle {
        height: 55px;
        font-weight: 400;
        color: @color-text-default;
        border-radius: @spacing-1x;
        margin: 1px 2px 0 -1px;
      }
    }
  }
  .check-box-utc {
    margin-top: 20px;
    margin-left: 5px;
  }

  .filter-option-selection {
    width: 180px;
    z-index: 25;
    margin-left: @spacing-1x;
  }

  .filter-option-expand {
    width: 180px;
    z-index: 15;
    margin-left: @spacing-1x;
  }
}


.more-filters-divider {
  margin-top: -2px;

  .Divider__heading {
    display: none;
  }

  .Divider__body {
    margin-top: 2px;
    padding: @spacing-2x;
    background: @color-bg-accent;
    border-radius: 0 0 @spacing-1x @spacing-1x;

    .impulse-dropdown .Dropdown__toggle {
      .dropdown-button(160px, @color-text-default);
    }
  }
}

.impulse-loading-container {
  margin-top: 50px;

  .impulse-chart-container {
    margin-right: 0 @spacing-5x;

    .impulse-bookings-container {
      display: flex;
      flex-direction: column;

      .recharts-responsive-container {
        svg.recharts-surface {
          overflow: visible;
        }
      }
    }
  }
}
