.ongoing-incidents-label {
  margin-top: 25px;
}

.ongoing-incidents {
  padding: 25px;
  margin-bottom: 20px;
  overflow-y: scroll;
  z-index: 2;

  .ongoing-incident {
    background: rgba(0, 0, 0, .07);
    margin-bottom: 10px;
    padding-left: 5px;
    color: black;
  }
}
