@import '../../mixins.less';

.ongoing-incidents-label {
    margin-top: @spacing-2x;
}

.ongoing-incidents {
    padding: 0 @spacing-3x;
    margin-bottom: @spacing-2x;
    overflow-y: scroll;
    z-index: 2;

    .Divider {
        margin-bottom: @spacing-1x;

        .Divider__heading {
            background: @color-bg-accent;
            padding: @spacing-1x 0;

            &:hover {
                background: @color-bg-hover;
            }
        }

        .Divider__body {
            padding-top: 0;
        }

        .Divider__title-left,
        .Divider__title-row {
            display: none;
        }

        .Divider__title-text {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 0 @spacing-1x;
            font-size: 14px;
            color: @color-text-deemphasis;
        }

        .Divider__title-right {
            justify-content: flex-end;
            margin-right: @spacing-1x;
        }
    }

    .ongoing-incident {
        background: @color-bg-contrast;
        margin-bottom: @spacing-1x;
        font-size: 12px;
        color: @color-text-deemphasis;
        text-align: left;
        padding: @spacing-1x @spacing-2x;

        strong {
            margin-right: @spacing-1x;
        }
    }

    .no-incidents {
        font-size: 20px;
        color: @color-text-deemphasis;
        padding: @spacing-3x;
        line-height: 45px;
    }
}
