@import '../../../mixins.less';


.score-card-container {
    .breadcrumbs {
        margin: @spacing-1x 0;
        height: @spacing-3x;

        .breadcrumb-container {
            font-size: 12px;
            float: left;

            .breadcrumb-text {
                float: left;
            }

            .link {
                color: @color-link-default;
                cursor: pointer;

                &:hover {
                    color: @color-link-hover;
                }
            }

            .SVGIcon {
                float: left;
                margin: 0 @spacing-1x;
                margin-top: 5px;
            }
        }
    }

    .success-cell {
        color: @color-text-inverse;
        background: @color-positive;
    }

    .Modal__dialog {
        width: 90%;
    }

    .data-table {
        .link {
            color: @color-link-default;
            cursor: pointer;

            &:hover {
                color: @color-link-hover;
            }

            &.disabled {
                pointer-events: none;
                color: @color-link-darkmode;
            }
        }
    }
}
