@import '../../mixins.less';

.grid-wrapper {
    text-align: center;
    display: grid;
    grid-gap: @spacing-5x;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 @spacing-5x;

    .card {
        margin-bottom: 0;
        box-shadow: none;
        border: @color-border-default 1px solid;

        &:hover {
            box-shadow: 0 0 @spacing-1x 0 rgba(0, 0, 0, .1);
        }
    }

    .total-bookings {
        display: grid;
        grid-column: span 2;
        justify-items: center;
        justify-content: stretch;
        min-height: 458px;
        height: 490px;

        h3 {
            margin-top: @spacing-2x;
        }

        .brand-name,
        .brand-logo-img {
            margin-top: @spacing-1x;
            margin-bottom: @spacing-1x;
        }

        .chart-wrapper {
            width: 800px;
        }
    }

    .ongoing-incidents-wrapper {
        display: flex;
        flex-direction: column;
        height: 490px;

        .ongoing-incidents-tile-link {
            .ongoing-incidents-tile-overlay {
                height: 458px;
                position: absolute;
                width: 100%;
                z-index: 1;
            }
        }
    }

    .success-rates {
        display: flex;

        .success-rate-card {
            display: grid;

            .radial-success-rate {
                justify-self: center;
            }
        }
    }
}
