@import "../../mixins.less";

#covid-message {
  margin: 2rem;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #f0dcb4;
  width: 50%;
  display: inline-block;
}

#home-buttons-container {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 2rem;
  width: 100%;

  .dashboard-button {
    width: 30%;
    margin: 0 1.2rem 0 1.2rem;
    word-wrap: break-word;
    background-color: #616161;
    color: #fff;
    border-radius: 0.266rem;
    padding: 1.2rem 2rem 1.2rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
  }

  .dashboard-button:hover {
    background-color: #00008d;
  }
}
