@import '../../../mixins.less';

.header--brand-selector {
    float: right;

    .Dropdown__toggle {
        padding: @spacing-1x @spacing-2x;
        margin-right: @spacing-1x;
        font-weight: 400;
        border-radius: @spacing-1x;
        background: @color-bg-contrast;
        color: @color-text-default;
        box-shadow: none;
        min-height: @spacing-5x;
        height: @spacing-5x;

        &:hover {
            background: @color-bg-hover;
        }
    }

    .Dropdown__menu {
        cursor: pointer;
        min-width: 270px;
        margin-right: @spacing-1x;

        li:first-child a {
            border-bottom: 1px solid @color-border-default;
        }

        li a.selected {
            border-left: @spacing-1x solid @color-link-default;
        }
    }
}
