@import '../../mixins.less';


.robbie-container {
    .datetime-range-picker {
        height: @spacing-7x;
        display: inline;
    }


    .apply-button {
        margin-left: @spacing-1x;
        height: @spacing-7x;
    }

    .data-table {
        margin-top: 80px;

        td {
            border-top: none;
        }
    }

    .loading-container {
        min-height: 50vh;
    }

    .robbie-loading-container {
        margin-top: @spacing-2x;
    }
}
