@import '../../mixins.less';

.reset-btn {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: @spacing-2x;
    box-shadow: none;
    border-radius: @spacing-1x;
    border: 1px solid @border-color-dark;
    min-height: 55px;
    height: 55px;
    align-self: flex-end;
    margin-left: @spacing-1x;

    &.btn-default[disabled] {
        box-shadow: none;
    }
}
